TinyApp

<nav class="navbar navbar-default" role="navigation">
<div class="container-fluid">



<% if(users[user]){ %>
<form class="form-inline" method="POST" action="/logout %>">
<h2> Welcome <%= users[user].email %> !</h2>
<button type="submit" class="btn btn-primary">Logout :(</button>

</form>

<% } else{ %>
<form method="GET" action="/register %>">
<button type="submit" class="btn btn-link">Register</button>
</form>
<form method="GET" action="/login %>">
<button type="submit" class="btn btn-link">Login</button>
</form>
<% } %>
</form>

</div>
</nav>




