<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <title>TinyApp</title>
</head>

<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <% if(users[user]){ %>
      <form class="form-inline" method="POST" action="/logout %>">
        <h2> Welcome <%= users[user].email %> !</h2>
        <button type="submit" class="btn btn-primary">Logout :(</button>

      </form>

    <% } else{ %>
      <a href='/login'><button type="submit" class="btn btn-link">Login</button></a>
      <a href='/register'><button type="submit" class="btn btn-link">Register</button></a>
    <% } %>
      </form>

  </div>
</nav>





